<div class="landing-root">
  <div class="main-layout">
    <div class="main-content">
      <div class="map-bg">
        <app-map [cities]="cities"></app-map>
        <div class="map-overlay"></div>
      </div>
      <div class="content-stack">
        <app-navbar (menuClick)="onMenuClick()"></app-navbar>
        <app-sidebar
          *ngIf="sidebarOpen"
          [stacks]="stacks"
          [selectedStackId]="selectedStackId"
          [expanded]="sidebarOpen"
          (stackSelect)="onStackSelect($event)"
          (toggle)="onMenuClick()"
          (back)="onSidebarBack()"
        ></app-sidebar>
        <div class="hello-row">
          <span class="hello-user">Hello User,</span>
          <span class="action-items">There are <b>2</b> to action items.</span>
        </div>
        <div class="widgets-row">
          <div class="widgets-scroll">
            <app-city-widget
              *ngFor="let city of cities"
              [city]="city"
              (cityClick)="onCityClick(city.id)">
            </app-city-widget>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>