<div class="city-widget gradient-border" (click)="onWidgetClick()">
    <h3>{{ city?.name }}</h3>
    <div class="forecast-row">
        <div class="forecast-labels">
            <div class="forecast-title">Forecast</div>
            <div class="forecast-value">{{ formattedForecastValue }}</div>
        </div>
        <div class="forecast-chart">
            <canvas baseChart
                [data]="lineChartDataValue"
                [options]="lineChartOptions"
                [type]="lineChartType"
                style="height:40px; width:100px;">
            </canvas>
        </div>
    </div>
    <div class="forecast-row">
        <div class="forecast-labels">
            <div class="forecast-title">Forecast</div>
            <div class="forecast-percent">
                <span [style.color]="percentArrow.color" class="percent-arrow">{{ percentArrow.arrow }}</span>
                <span>{{ city?.forecastPercent }}%</span>
            </div>
        </div>
        <div class="forecast-chart">
            <canvas baseChart
                [data]="lineChartDataPercent"
                [options]="lineChartOptions"
                [type]="lineChartType"
                style="height:40px; width:100px;">
            </canvas>
        </div>
    </div>
</div>