<header class="top-bar">
  <span class="menu-icon" style="font-size: 1.5rem; margin-right: 1.5rem; cursor: pointer;" (click)="onMenuClick()">&#9776;</span>
  <span class="logo">Webapp</span>
  <span style="flex:1"></span>
  <span class="user-actions">
    <span class="material-icons icon" style="margin-right: 1.2rem; font-size: 1.3rem; cursor: pointer;">language</span>
    <span class="material-icons icon" style="font-size: 1.3rem; margin-right: 0.5rem; cursor: pointer;">person</span>
    <span class="user-info">user</span>
  </span>
</header>